// _base.scss
$background-color: #d5dfe5;

.header {
  position: fixed;
  z-index: 1;
  background-color: $background-color;
  width: 100vw;
  margin: 0;
  .link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    margin: 20px auto;
  }
  li {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    .link {
      text-decoration: none;
    }
  }
}
