$margin-size: 20px;
$border-radius: 8px;

.Post {
  width: 22vw;
  margin: $margin-size auto;
  background-color: #d5dfe5;
  border-radius: $border-radius;
  .post-image {
    margin: $margin-size auto 0 auto;
    width: 20vw;
    height: auto;
    border-radius: $border-radius;
  }
  .text-container {
    text-align: left;
    margin: $margin-size;
    p {
      padding: 0;
      margin: 0;
    }
    .bold {
      font-weight: bold;
      font-size: small;
    }
  }
}
